google-map {
    height: 400px;
}

div.output_wrapper {
    z-index: 3;
}

paper-card.driverStats {
    margin-bottom: 10px;
    display: block;
    width: 50%;
}

paper-card.driverStats paper-slider {
    width: 100%;
}

paper-card.driverStats div.stat-label,
paper-card.driverStats div.stat-value {
    width: 50px;
}

urth-viz-chart .nv-x .tick text {
    display: none;
}